/* Elementos do HTML */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #222;
  color: #fff;
  font-family: "Arial";
  line-height: 120%;
}

header {
  background-color: #111;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section,
footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
}

section {
  border-bottom: 1px solid #555;
}

footer {
  align-items: center;
  text-align: center;
}

ul,
ol {
  margin-left: 20px;
}

a {
  color: inherit;
  transition: color 0.2s linear;
}

a:hover {
  color: lightgray;
}

button {
  padding: 5px 15px;
  /* Tornar o botão com os cantos arrendodados - criando um raio de circunferência */
  border-radius: 1000px;
  /* Removendo a cor da borda */
  border: none;

  background-color: #eee;

  /* Inserindo uma transição de cores ao apontar o cursor do mouse no botão */
  transition: background-color 0.2s linear;

  /* Trocar o formato do cursos do mouse ao apontar para o botão */
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

/* Classes */

.sobre {
  margin-bottom: 20px;
}
.funcao {
  font-size: 26px;
}

.habilidades {
  display: flex;
  gap: 40px;
}

.habilidade {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projeto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projetos {
  display: flex;
  gap: 20px;
}

.informacoes {
  /* Retira/Remove o display, ou as informações da tela */
  display: none;
}

.informacoes.visivel {
  /* Retorna a visibilidade das informações na tela */
  display: block;
}

.light {
  background-color: #eee;
  color: #222;
}

.light header {
  background-color: #ddd;
}

.light button {
  background-color: #aaa;
  color: white;
}

.light button:hover {
  background-color: #777;
}

.light a:hover {
  color: #555;
}

/* Cores */
.azul {
  color: blue;
}

.verde {
  color: green;
}
